<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>About CCoin</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" type="image/png" href="/static/images/icon-512x512.png">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <!-- حذف div هدر و فقط نگه داشتن دکمه‌ها -->
    <button class="close-btn" id="close-settings">
        <i class="fas fa-arrow-left"></i>
    </button>
    <button class="link-btn" id="website-link">
        <i class="fas fa-link"></i>
    </button>

    <div class="about-container">
        <h1>About CCoin</h1>
        <p>Over the past few years, the landscape of cryptocurrencies has been flooded with airdrop campaigns, many of which have proliferated across platforms like Telegram. Regrettably, a significant number of these initiatives have taken advantage of public trust, compelling participants to engage in promotional activities within airdrops. These airdrops often require a wide range of tasks, such as following sponsors on Telegram, Instagram, YouTube, and X, or interacting with bots and watching purely promotional videos.</p>
        <p>However, all too often, the completion of these airdrops is delayed with tactics such as adding new stages, extending token distribution timelines, or postponing listings on exchanges. This unethical approach not only erodes the trust of cryptocurrency enthusiasts and users but also paves the way for exploitation by providers targeting newcomers in this space.</p>
        <p>At CCoin, we are committed to changing this narrative. Our team is proud to launch an innovative airdrop project to demonstrate that you can participate in an airdrop without unnecessary complexities or exhausting tasks. We believe that with your support and collaboration, we can shape a truly exceptional and trustworthy project.</p>
        <p>To participate and receive our airdrop tokens, simply follow our social media channels and complete the tasks listed on the airdrop page before the token distribution deadline. Priority for token allocation on distribution day will be given to those who complete their tasks earlier, ensuring fairness and incentivizing prompt participation.</p>
        <p>You can contribute to our growth by sharing CCoin on social media and with your friends.</p>
        <p>We sincerely thank you for your trust and participation in this exciting journey.</p>
        <p>The CCoin Team</p>
    </div>

    <script src="/static/js/about.js"></script>
    <script>
        window.Telegram.WebApp.ready();
        window.Telegram.WebApp.expand();
    </script>
</body>
</html>
