<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#FFD700">
    <link rel="icon" href="/static/images/icon.png" type="image/png">
    <title>C-Coin Airdrop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/load.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', path='images/load-X.png') }}" alt="Logo" class="logo">
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
        <p id="congrats">Congratulations, you have won 2000 CCoin !</p>
    </div>
    <script src="{{ url_for('static', path='js/load.js') }}"></script>
    <script>
        window.Telegram.WebApp.ready();
        window.Telegram.WebApp.expand();
    </script>
</body>
</html>
