fastapi==0.95.2
uvicorn==0.22.0
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
celery==5.4.0
redis==4.5.4
python-telegram-bot==20.7
aiohttp==3.8.4
structlog==22.1.0
python-dotenv==1.0.0
pyjwt==2.8.0
bcrypt==4.0.1
slowapi==0.1.8
jinja2==3.1.2
alembic==1.13.3
solana==0.25.0
solders==0.2.0
httpx==0.23.3
apischema==0.17.5
jsonrpcclient==4.0.3
based58==0.1.1
cachetools==4.2.4
jsonrpcserver==5.0.9
typing-extensions==4.14.1
websockets==10.4
types-cachetools==4.2.10
construct-typing==0.5.6
cffi==1.17.1
limits==1.6
MarkupSafe==3.0.2
