body {
    background-color: #000;
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding-bottom: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo-img {
    width: 200px;
    height: auto;
}

.leaderboard-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.user-box {
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: 50px;
    box-sizing: border-box;
}

.user-circle {
    background-color: #ff5757;
    color: #fff;
    font-weight: bold;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.user-info span {
    margin-left: 20px;
    font-weight: bold;
}

.leader-box {
    background-color: #343434;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: 50px;
    box-sizing: border-box;
}

.leader-circle {
    color: #fff;
    font-weight: bold;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.color-0 { background-color: #FF5757; }
.color-1 { background-color: #00D4FF; }
.color-2 { background-color: #FFD700; }
.color-3 { background-color: #7CFF7C; }
.color-4 { background-color: #FF69B4; }
.color-5 { background-color: #FFA500; }
.color-6 { background-color: #6A5ACD; }
.color-7 { background-color: #00FF7F; }
.color-8 { background-color: #DC143C; }
.color-9 { background-color: #20B2AA; }

.leader-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.leader-info span {
    margin-left: 20px;
    font-weight: bold;
}

.top-leaders {
    margin: 20px;
}

.leader-title {
    text-align: center;
    font-size: 30px;
    color: #ffd700;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-icons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 5px;
    border-top: 1px solid #333;
}

.footer-btn {
    color: #aaa;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer-btn.active {
    color: #ffffff;
}

.footer-btn i {
    font-size: 20px;
    margin-bottom: 2px;
}